.brochure-card {
    display: flex;
    align-items: center;
    background-color: rgba(36, 36, 36, 1);
    height: 10rem;
    width: 20rem;
    border-radius: 1rem;
    flex-direction: column;
    margin-top: 4rem;
    font-size: 1.5rem;
    justify-content: center;
    font-weight: 800;
}

.brochure-card img{
    height: 2rem;
}
.brochure-card:hover {
    background: linear-gradient(90deg, #F678F0 0%, #00E8FF 186.42%);
}

