@media (min-width:1201px) {
.sponsor-body-container{
        display: flex;
    border-bottom: 2px solid white;
    padding: 20px;
    height: 40rem;
    justify-content: space-evenly;
}

    .sponsor-body-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .sponsor-body-card img{
        height: 28rem;
        width: 23rem;
        transition: all 0.3s linear;
        border-radius: 20px;
    }

    .sponsor-body-card img:hover{
        scale: 1.1;
    }

    .sponsor-body-card h3{
        font-size: 2rem;
        font-weight: bold;
        padding: 10px;
        margin-top: 1.5rem;
        color: transparent; /* Make the text color transparent */
        background: linear-gradient(90deg, #F678F0 0%, #00E8FF 186.42%); /* Gradient background */
        -webkit-background-clip: text; /* Clip the background to the text for WebKit browsers */
        background-clip: text;
    }

    .sponsor-location{
        display: flex;
        gap :1rem;
    }

    .sponsor-location img{
        height: 1.5rem;
        width: 1.5rem;
    }

    .sponsor-location a{
        color: white;
        text-decoration-line: underline;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .sponsor-body-container{
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid white;
        height: 60rem;
        gap: 3rem;
    }

    .sponsor-body-card{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .sponsor-body-card img{
        height: 20rem;
        width: 15rem;
        position: relative;
        transition: all 0.3s linear;
        border-radius: 20px;
    }

    .sponsor-body-card img:hover{
        scale: 1.1;
    }

    .sponsor-body-card h3{
        color: transparent; /* Make the text color transparent */
        background: linear-gradient(90deg, #F678F0 0%, #00E8FF 186.42%); /* Gradient background */
        -webkit-background-clip: text; /* Clip the background to the text for WebKit browsers */
        background-clip: text;
        font-size: 1.3rem;
        font-weight: bold;
        position: relative;
        margin-top: 1.5rem;
    }

    .sponsor-location{
        margin-top: 0.5rem;
        display: flex;
        gap :0.5rem;
        position: relative;
    }

    .sponsor-location img{
        height: 1.5rem;
        width: 1.5rem;
    }

    .sponsor-location a{
        position: relative;
        color: white;
        text-decoration-line: underline;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .sponsor-body-container{
        display: flex;
        border-bottom: 2px solid white;
        height: 78rem;
        gap: 3rem;
        flex-direction: column;
    }

    .sponsor-body-card{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .sponsor-body-card img{
        height: 28rem;
        width: 22rem;
        transition: all 0.3s linear;
        border-radius: 20px;
    }

    .sponsor-body-card img:hover{
        scale: 1.1;
    }

    .sponsor-body-card h3{
        font-size: 2rem;
        font-weight: bold;
        margin-top: 1.5rem;
        color: transparent; /* Make the text color transparent */
        background: linear-gradient(90deg, #F678F0 0%, #00E8FF 186.42%); /* Gradient background */
        -webkit-background-clip: text; /* Clip the background to the text for WebKit browsers */
        background-clip: text;
    }

    .sponsor-location{
        display: flex;
        gap :1rem;

    }

    .sponsor-location img{
        height: 1.5rem;
        width: 1.5rem;
    }

    .sponsor-location a{
        color: white;
        text-decoration-line: underline;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .sponsor-body-container{
        display: flex;
        border-bottom: 2px solid white;
        height: 40rem;
        justify-content: center;
        gap: 3rem;
    }

    .sponsor-body-card{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .sponsor-body-card img{
        height: 28rem;
        width: 22rem;
        transition: all 0.3s linear;
        border-radius: 20px;
    }

    .sponsor-body-card img:hover{
        scale: 1.1;
    }

    .sponsor-body-card h3{
        font-size: 2rem;
        font-weight: bold;
        margin-top: 1.5rem;
        color: transparent; /* Make the text color transparent */
        background: linear-gradient(90deg, #F678F0 0%, #00E8FF 186.42%); /* Gradient background */
        -webkit-background-clip: text; /* Clip the background to the text for WebKit browsers */
        background-clip: text;
    }

    .sponsor-location{
        display: flex;
        gap :1rem;
    }

    .sponsor-location img{
        height: 1.5rem;
        width: 1.5rem;
    }

    .sponsor-location a{
        color: white;
        text-decoration-line: underline;
    }
}