.stars {
  background-image: url("https://images.unsplash.com/photo-1628498188873-579210ce622e?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); /* Use a starry night image */
  width: 200%;
  height: 200%;
  animation: move-stars 30s linear infinite;
}

@keyframes move-stars {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-50%, -50%);
  }
}
